<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988984878081-emf60t8209439o7qclgfmegbt38vf8gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988984878081-emf60t8209439o7qclgfmegbt38vf8gv</string>
	<key>API_KEY</key>
	<string>AIzaSyDQyjgD_hVkDbosiWl3N1sZsdEhBSIGOEs</string>
	<key>GCM_SENDER_ID</key>
	<string>988984878081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.adoro</string>
	<key>PROJECT_ID</key>
	<string>adoro-app</string>
	<key>STORAGE_BUCKET</key>
	<string>adoro-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988984878081:ios:09210662e76193c67a4c00</string>
</dict>
</plist>